/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 160px;
}

#nav .subnav li {
    display: block;

}

#nav .subnav li a {
    display: block;
    line-height: 36px;
    padding: 0 8px;
}

#nav .nav-down-icon {
    font-size: 14px;
}

.search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

.search-btn {
    float: right;
    line-height: 46px;
    padding: 0 24px;
}   

.search-icon {
    color: #fff;
    font-size: 20px;

}

#slider {
    padding-top: 50%;
    margin-top: 46px;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 32px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
}

#slider .text-description {
    padding-top: 35px;
}


#content {

}

#footer {

}
